{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
      <a href="{% url 'simplon:accueil' %}">Accueil</a> |
      <a href="{% url 'simplon:notes_by_student' %}">Notes by student</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
      This is the footer
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
